::-webkit-scrollbar { 
    display: none; 
}

html, body {
	font-family: Karla, Montserrat, Roboto, -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body {
	position: static;
	background: #353b48;
	color: #7f8fa6;
}

#editor {
	position: absolute;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	bottom: 0px;
	overflow-y: scroll;
	font-size: 16px;
}

#titlebar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	height: 32px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#titlebar-buttons {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px;
	margin: auto;
}

#titlebar-buttons button {
	height: 32px;
	width: 32px;
	border: none;
	outline: 0px;
	background: transparent;
	color: #7f8fa6;
	text-align: center;
	font-size: 16px;
}

#titlebar-buttons button:hover {
	background: #2f3640;
}